html {
    overflow-y: scroll;
}

body {
    font-family: 'Minion Variable Concept';
    margin: 0;
    padding: 0;
}

::selection {
    background: #5f74a0;
    color: #fff;
}

::-moz-selection {
    background: #5f74a0;
    color: #fff;
}

::-webkit-selection {
    background: #5f74a0;
    color: #fff;
}

br {
    display: block;
    line-height: 1.6em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

input, textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

strong, b {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0 auto;
}

img {
    border: 0;
    max-width: 100%;
}

h1 {
    font-family: 'Amarante', Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3.6em;
    line-height: 1.7em;
    margin-bottom: 10px;
}

#wrapper {
    display: block;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 10px 17px;
    box-sizing: border-box;
    overflow-x: auto;
}

#keywords {
    font-size: 0.9em;
    margin-bottom: 15px;
}

    #keywords thead {
        cursor: pointer;
        background: #c9dff0;
    }

        #keywords thead tr th {
            font-weight: bold;
            padding: 8px 12px;
            padding-left: 32px;
            font-size: 0.8em;
        }

            #keywords thead tr th span {
                padding-right: 10px;
                background-repeat: no-repeat;
                background-position: 100% 100%;
            }

            #keywords thead tr th.headerSortUp,
            #keywords thead tr th.headerSortDown {
                background: #acc8dd;
            }

                #keywords thead tr th.headerSortUp span {
                    background-image: url('https://i.imgur.com/SP99ZPJ.png');
                }

                #keywords thead tr th.headerSortDown span {
                    background-image: url('https://i.imgur.com/RkA9MBo.png');
                }

    #keywords tbody tr {
        color: #555;
    }

        #keywords tbody tr td {
            text-align: center;
            padding: 10px 8px;
            font-size: 0.8em;
        }

            #keywords tbody tr td.lalign {
                text-align: left;
            }
.watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg); /* Adjust rotation angle as needed */
    color: rgba(0, 0, 0, 0.2); /* Adjust color and opacity of the watermark */
    font-size: 5em; /* Adjust font size of the watermark */
    font-weight: bold;
    pointer-events: none; /* Ensure the watermark does not interfere with mouse events */
    z-index: 9999; /* Ensure the watermark stays on top of other content */
}
